<div class="card__inner ratio" >
    <div class="card__media">
        {% assign media = product.featured_media | default: product.media.first %}
                <a href="{{ product.url }}" class="link link-undecorated">
                {% if media and media.preview_image %}
                    <img 
                    src="{{ media.preview_image | img_url: '720x' }}"
                    alt="{{ media.preview_image.alt | default: product.title | escape }}"
                    class="swiper-product-image"
                    loading="lazy"
                    >
                {% elsif product.featured_image %}
                    <img 
                    src="{{ product.featured_image | img_url: '720x' }}"
                    alt="{{ product.featured_image.alt | default: product.title | escape }}"
                    class="swiper-product-image"
                    loading="lazy"
                    >
                {% else %}
                    <img 
                    src="{{ 'no-image.png' | asset_url }}"
                    alt="{{ product.title | escape }}"
                    class="swiper-product-image"
                    loading="lazy"
                    >
                {% endif %}
                </a>
    </div>
</div>


    <div class="product-block">
        <div class="product-info">
            
            <div class="product-title"><a href="{{ product.url }}" style="text-decoration:none;" class="link link-undecorated">{{ product.title }} </a></div>
        
            <div class="product-reviews">
            <div class="stars">
                ★ ★ ★ ★ ★
            </div>
            <span>10 Reviews</span>
            </div>
        </div>
        <div class="product-price">
            <span style="font-size: 14px; margin-right: 2px;">$</span>{{ product.price | money }}
        </div>
    </div>
